html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #111111;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    text-align: center;
}
.calculator{
    background-color: #000000;
    width:400px;
    height: 450px;
    margin:auto;
    border: 1px solid rgb(0, 150, 62);
    display: flex;
    flex-direction: column;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 2px rgb(44, 44, 44);
    padding:10px;
}
.calculator__display{
    width: 100%;
    height:100px;
    background-color: rgb(75, 138, 83);
    color:black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
.calculator__buttons{
    width:70%;
    height:300px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin:auto;
    justify-items: center;
    align-items: center;
}
button{
    width:60px;
    height: 50px;
    border-radius:15px;
    border:none;
    font-size: 1.3rem;
    transition:filter .2s
    
}
.reset{
    background-color: rgb(168, 35, 35);
}
.button-number{
    background-color: rgb(164, 165, 120);
    
}
.button-symbol{
    background-color: rgb(92, 134, 148);
}

/* Botones aparte */
.equal, .delete{
    background-color: rgb(92, 134, 148);
}



button:hover{
    filter: opacity(.7);
}